.category__wrapper {
  display: flex;
  clear: both;

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.category__wrapper--two-item {
  & > section:first-child {
    padding-left: 16.7%;
    @media (max-width: $screen-sm) {
      padding-left: 30px;
    }
  }
  & > section:last-child {
    padding-right: 16.7%;
    @media (max-width: $screen-sm) {
      padding-right: 30px;
    }
  }
}

.category {
  padding: 30px;
  flex: 33%;
  display: flex;
  flex-direction: column;
}

h3.category__title {
  flex: 1;
  margin-top: 0;
  font-weight: bolder;
  text-align: center;
}

p.category__description {
  flex: 2;
  text-align: center;
  font-style: italic;
}


// Contest-Rankings

ul.contest-rankings {
  margin-top: 20px;
}
