.green {color: #58aa44;}
.blue {color: #0b89af;}
.red {color: #c91f1f;}
.yellow {color: #f4be27;}
.light {color: #aaa;}


.scoremarker {
  position: relative;
  margin: 0 auto 10px auto;
  padding: 10px 15px;
  border-radius: 25px;

  &__row {
    margin-bottom: 20px;
  }

  &__score {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: bolder;
  }

  &__metric {
    display: inline-block;
    float: right;
  }

  &.blue {
    color: #fff;
    background-color: #0b89af;
    & .scoremarker__team-label:before {
      display: inline-block;
      position: relative;
      content: "";
      background-image: url('../images/squirtle.gif');
      height: 50px;
      width: 50px;
      background-size: auto 50px;
      background-repeat: no-repeat;
      position: absolute;
      top: -15px;
      left: 5px;
      z-index: 1;
    }
  }
  &.yellow {
    color: #fff;
    background-color: #f4be27;
    & .scoremarker__team-label:before {
      display: inline-block;
      position: relative;
      content: "";
      background-image: url('../images/pikachu.gif');
      height: 50px;
      width: 60px;
      background-size: auto 55px;
      background-repeat: no-repeat;
      position: absolute;
      top: -15px;
      left: 0px;
      z-index: 1;
    }
  }
  &.red {
    color: #fff;
    background-color: #c91f1f;
    & .scoremarker__team-label:before {
      display: inline-block;
      position: relative;
      content: "";
      background-image: url('../images/charmander.gif');
      height: 50px;
      width: 50px;
      background-size: auto 50px;
      background-repeat: no-repeat;
      position: absolute;
      top: -15px;
      left: 5px;
      z-index: 1;
    }
  }
  &.green {
    color: #fff;
    background-color: #58aa44;
    & .scoremarker__team-label:before {
      display: inline-block;
      position: relative;
      content: "";
      background-image: url('../images/bulbasaur.gif');
      height: 50px;
      width: 50px;
      background-size: auto 50px;
      background-repeat: no-repeat;
      position: absolute;
      top: -15px;
      left: 0px;
      z-index: 1;
    }
  }
}

.scoremarker__team-label {
  margin: 0;
  margin-left: 45px;
  color: #fff;
}
