@charset "utf-8";
@import "normalize";
@import "layout";
@import "bootstrap";
@import "partials/scoremarker";
@import "partials/how-it-works";
@import "partials/category";
@import "partials/fonts";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: DINWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}
