<header class="<%= current_leader %>">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <!-- Start Content -->
      <%= tag :img, :src => "images/gaslight-pokeball.svg", :alt =>"Gaslight-Themed Pokeball", :class =>"contest-logo" %>
      <h1 class="contest-title">Gaslight League</h1>
    </div>
  </div>
</header>
