<% # <Casual Ruby-ing because I'm a monster
  catch_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.num_caught - a.initial_stats.num_caught)]}
  km_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.km_walked - a.initial_stats.km_walked)]}
  battle_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.battles_won - a.initial_stats.battles_won)]}
  magikarp_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.magikarp_candy - a.initial_stats.magikarp_candy)]}
  lure_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.lure_modules - a.initial_stats.lure_modules)]}
  egg_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.eggs_hatched - a.initial_stats.eggs_hatched)]}
  unique_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.unique_pokemon - a.initial_stats.unique_pokemon)]}
  evolution_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.pokemon_evolved - a.initial_stats.pokemon_evolved)]}

  catch_shortlist = catch_ranking.first(3)
  km_shortlist = km_ranking.first(3)
  battle_shortlist = battle_ranking.first(3)
  magikarp_shortlist = magikarp_ranking.first(3)
  lure_shortlist = lure_ranking.first(3)
  egg_shortlist = egg_ranking.first(3)
  unique_shortlist = unique_ranking.first(3)
  evolution_shortlist = evolution_ranking.first(3)

  master_shortlist = [catch_shortlist, km_shortlist, battle_shortlist, magikarp_shortlist, lure_shortlist, egg_shortlist, evolution_shortlist, unique_shortlist]

  squirtle_score = 0
  bulbasaur_score = 0
  pikachu_score = 0
  charmander_score = 0

  current_leader = ""

  # Scoring Loop

  for i in 0..5
    points = 15
    for j in 0..2
      if master_shortlist[i][j].team == "Squirtle Squad"
        squirtle_score = squirtle_score + points
        points = points - 5
      elsif master_shortlist[i][j].team == "Bulbasaur Bunch"
        bulbasaur_score = bulbasaur_score + points
        points = points - 5
      elsif master_shortlist[i][j].team == "Charmander Club"
        charmander_score = charmander_score + points
        points = points - 5
      else
        pikachu_score = pikachu_score + points
        points = points - 5
      end
    end
  end

  if squirtle_score > bulbasaur_score and squirtle_score > charmander_score and squirtle_score > pikachu_score
     current_leader = "blue"
  elsif charmander_score > squirtle_score and charmander_score > bulbasaur_score and charmander_score > pikachu_score
        current_leader = "red"
  elsif bulbasaur_score > squirtle_score and bulbasaur_score > charmander_score and bulbasaur_score > pikachu_score
        current_leader = "green"
  else
    current_leader = "yellow"
  end

%>

<header class="<%= current_leader %>">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <!-- Start Content -->
      <%= tag :img, :src => "images/gaslight-pokeball.svg", :alt =>"Gaslight-Themed Pokeball", :class =>"contest-logo" %>
      <h1 class="contest-title">Gaslight League</h1>
    </div>
  </div>
</header>
