<section id="teams">
  <div class="container">
    <div class="col-xs-12">
      <h2>Teams</h2>
      <p>Here's some copy talking about the contest and how it works, ey-yoooo&mdash;</p>
      <div class="container">
        <% data.trainers.teams.each do |team| %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="scoremarker__row">
              <div class="<%= team.color %> scoremarker">
                <h4 class="scoremarker__team-label"><%= team.name %></h4>
              </div>
              <ul>
                <% data.trainers.trainer.each do |trainer| %>
                  <% if trainer.team == team.name %>
                    <li><%= trainer.name %> (<%= trainer.handle %>)</li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
