---
title: Gaslight League: Current Rankings
---
<%= partial "layouts/header" %>

<section id="how-it-works">
  <div class="container">
    <div class="col-xs-12">
      <h2>Welcome Trainers!</h2>
      <p class="rules">Here's some copy talking about the contest and how it works, ey-yoooo&mdash;</p>
    </div>
  </div>
</section>

<%= partial "layouts/teams" %>

<section id="categories">
  <div class="container">
    <div class="col-xs-12">
      <h2>Categories</h2>
      <p>Here's some copy talking about the contest and how it works, ey-yoooo&mdash;</p>
    </div>
    <div id="rank-toggle">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="large-ranking" autocomplete="off"> Top 3
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="small-ranking" autocomplete="off" checked> Full List
        </label>
      </div>

      <!-- <button class="btn" id="small-ranking"></button><button class="btn" id="large-ranking"></button> -->
      <div class="small-ranking__container">
        <%= partial "layouts/contest" %>
      </div>
      <div class="large-ranking__container">
        <%= partial "layouts/contest-expanded" %>
      </div>
    </div>
  </div>
</section>

<!-- <footer>
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-9 col-sm-offsest-2 col-xs-10 col-xs-offset-1">
    </div>
  </div>
</footer> -->
